.gambar{
    float: right;
    width: 130px;
    height: 130px;
    position: relative;
    right: 5%;
}

.judul{
    font-size: 60px;
    padding-left: 5%;
    font-weight: bold;
    margin-top: 40px;
    padding-bottom: 5%;
}

.grafiktegangan{
    text-align: center;
    width: 40%;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.grafikarus{
    text-align: center;
    width: 40%;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-left : 15px;
}

.grafikkemiringan{
    text-align: center;
    width: 40%;
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.grafikdaya{
    text-align: center;
    width: 40%;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding-left : 15px;
}

.container-fluid1{
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.container-fluid2{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.card-tegangan{
    width: 25%; 
}

.card-arus{
    width: 25%;
    padding-left: 15px;
}

.card-kemiringan{
    width: 25%; 
    padding-left: 15px;
}

.card-daya{
    width: 25%;
    padding-left: 15px;
}

.card-header{
    font-size: 15px;
    font-weight: bold; 
    background-color: blue; 
    color: white;  
    text-align: center;
}

.card-body-tegangan{
    background-color: lightgray;  
    text-align: center;
    color: black;
    font-size: 40px;
}
.card-body-arus{
    background-color: lightgray;  
    text-align: center;
    color: black;
    font-size: 40px;
}
.card-body-kemiringan{
    background-color: lightgray;  
    text-align: center;
    color: black;
    font-size: 40px;
}
.card-body-daya{
    background-color: lightgray;  
    text-align: center;
    color: black;
    font-size: 40px;
}